<div class="container bg-primary mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg_fondo d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

        </div>
        <div class="col bg-white p-5 rounded-end ">
            <div class="text-center bg-black w-100">
                <img src="/images/logo.svg"  alt="Logo Bienes Raices">
                
            </div>
            <div>
            <p class="text-center fs-3 fw-bold mt-2"> {{title}}</p>
            <p class="text-center fw-bold ms-1"> {{email}}
            <a href="/admin/login/logout" class="boton boton-amarillo text-uppercase fs-5 fw-bold m-4 p-3 shadow">
            Cerrar Sesion </a></p>
            </div>
        
            <div class="row w-100 display-flex flex-column">
            <a class="boton boton-verde fs-3 text-white text-uppercase mb-5 shadow" href="/blog/blogPage">Administrar blog</a>
            <a class="boton boton-verde fs-3 text-white text-uppercase mb-5 shadow" href="/propiedades/propiedadesPage">Administrar propiedades</a>
            <a class="boton boton-verde fs-3 text-white text-uppercase mb-5 shadow" href="/vendedores/vendedoresPage">Administrar vendedores</a>
            <a class="boton boton-verde fs-3 text-white text-uppercase mb-5 shadow" href="/usuarios/usuariosPage">Administrar usuarios</a>
            </div>
            
        </di>
    </div>
</div>