.contactos {
    background: linear-gradient(to right, #bbd5f6, #dfdfdf);
    display: flex;
    gap: 5rem;
}
.contacto {
    width: 60%;
}

legend {
    font-size: 2rem;
    color: var(--grisoscuro);
}

.formulario p {
    font-size: 1.6rem;
    color: var(--grisoscuro);
    margin: 2rem 0 0 0;
}
label {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select {
    width: 100%;
    padding: 1rem;
    display: block;
    border: 0.1rem solid var(--grisoscuro);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
textarea {
    height: 15rem;
    resize: none;
}
input[type="submit"] {
    width: 15rem;
    background-color: var(--color-verde);
    color: var(--color-blanco);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.formulario input[type="submit"]:hover {
    background-color: darkgreen;
}
.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forma-contacto input {
    margin: 0;
    width: auto;
}
.datos p {
    font-size: 1.6rem;
    font-weight: 700;
}
.datos {
    ul li {
        font-size: 1.3rem;
    }
}
.redes {
    i {
        margin: 1rem;
    }
    &:hover {
        cursor: pointer;
    }
}

/* Medias Query */
@media (max-width: 768px) {
    .contactos {
        flex-direction: column;
        align-items: center;
    }
    .contacto {
        width: 100%;
    }
    input[type="submit"] {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .img-contacto {
        max-height: 25rem;
    }
    input[type="submit"] {
        width: 100%;
    }
}
