.imagen-contacto {
    margin-top: 4rem;
    background-image: url(../../../assets/img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen-contacto h2 {
    color: var(--color-blanco);
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}
.imagen-contacto p {
    color: var(--color-blanco);
    font-size: 2rem;
    text-align: center;
}
.seccion-inferior {
    display: flex;
    gap: 2rem;
}
.info-meta span {
    color: var(--color-amarillo);
}
.entrada-blog {
    margin: 5rem 0;
    display: flex;
    gap: 2rem;
}
.imagen img {
    width: 30rem;
    border-radius: 0.5rem;
}
.texto-entrada a {
    color: var(--color-negro);
    text-decoration: none;
    display: block;
    margin-top: 0;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}
.testimoniales {
    width: 40%;
}
.testimonial {
    height: auto;
    background-color: var(--color-verde);
    font-size: 2.4rem;
    padding: 5rem;
    color: var(--color-blanco);
    border-radius: 2rem;
}
.testomonial p {
    text-align: right;
}

/* Medias Queries */
@media (max-width: 768px) {
    .seccion-inferior {
        flex-direction: column;
    }
    .testimoniales {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .entrada-blog {
        flex-direction: column;
    }
    .entrada-blog a {
        display: block;
        margin-top: 2rem;
    }
    .testimoniales {
        width: 100%;
    }
}
