<div class="container">
    <h1>{{title}}</h1>
  <div class="text-center fw-bold d-flex flex-column justify-content-center align-items-start">
    <p class="fs-2">Usuario :  {{email}}</p>
    <p class="fs-3">Tus credenciales son las correctas</p>
    <p class="fs-3">Te has logueado al sistema de gestion </p>
    <a href="/admin/login/logout" class="text-decoration-none btn btn-primary px-5 fs-2">Cerrar sesion </a>
  </div>

</div>