<div class="contenedor seccion">
  <h1 class="text-center text-uppercase">
    Ingresando Blog
  </h1>
  <a href="/blog/blogPage" class="boton boton-verde">
    Volver
  </a>
  <form
    class="formulario"
    action="/blog/blogPage/agregarBlog"
    method="post"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>
        Informacion General
      </legend>
      <label for="titulo">
        Titulo :
      </label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        placeholder="Titulo de la propiedad"
      />
      <label for="subtitulo">
        Subtitulo :
      </label>
      <input
        type="text"
        id="subtitulo"
        name="subtitulo"
        placeholder="Subtitulo de la propiedad"
      />
      <label for="imagen">
        Imagen :
      </label>
      <input type="file" id="imagen" name="imagen" />
    </fieldset>
    <fieldset>
      <legend>
        Detalles de autor
      </legend>
      <label for="autor">
        Nombre del autor :
      </label>
      <input
        type="text"
        id="autor"
        name="autor"
        placeholder="Nombre del autor"
      />
      <label for="blog_url">
        url del informe :
      </label>
      <input
        type="text"
        id="blog_url"
        name="blog_url"
        placeholder="Direccion url del informe"
      />
    </fieldset>
    <input
      type="submit"
      value="Agregar Blog"
      class="boton boton-verde w-auto"
    />
  </form>
  {{#if error}}
    <p class="alert alert-danger text-center" role="alert">
      {{message}}
    </p>
  {{/if}}
</div>