:root {
  --color-negro: #000000;
  --color-amarillo: #e08709;
  --color-verde: #71b100;
  --color-blanco: #ffffff;
  --color-gris: #e1e1e1;
  --color-grisoscuro: #333333;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}
p {
  font-size: 2rem;
}
img {
  width: 100%;
  display: block;
}
.borde img {
  border-radius: 0.5rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
}
h1,
h2,
h3 {
  margin: 2.5rem 0;
  text-align: center;
}
h1 {
  font-size: 3.8rem;
  font-weight: 700;
}
h2 {
  font-size: 3.4rem;
  font-weight: 400;
}
h3 {
  font-size: 3rem;
  font-weight: 300;
}
h4 {
  font-size: 2.6rem;
}
.contenedor {
  width: 95%;
  height: auto;
  max-width: 120rem;
  margin: 0 auto;
}

.contenido-centrado {
  max-width: 80rem;
}
.activo {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-verde);
  padding: 0.5rem;
}
