.navegacion ul {
    display: flex;
    justify-content: center;
    text-align: center;
}
.navegacion ul li {
    list-style: none;
    margin-right: 2rem;
}
.navegacion ul li a {
    text-decoration: none;
    color: var(--color-blanco);
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: var(--color-amarillo);
    }
}

/* Medias queries */
@media (max-width: 768px) {
    .barra {
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .navegacion ul {
        flex-direction: column;
        text-align: center;
    }
    .contenido-encabezado {
        text-align: center;
    }
}
